.Competitions {
  &__Container {
    align-items: center;
    display: flex;
    margin: 0 auto;
    max-width: 960px;

    &__List {
      align-items: center;
      display: flex;
      justify-content: center;
      list-style: none;
      margin: 0;
      padding: 15px 0;
      width: 100%;

      &__Item {
        margin: 0 20px;

        .Button {
          color: $primary;
          font-weight: 700;
          text-transform: uppercase;
        }
      }
    }
  }
}
