.MainNav {
  background-color: $electric_orange;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 10px;

  &__Container {
    align-items: center;
    display: flex;
    margin: 0 auto;
    max-width: 960px;

    &__Form {
      margin-right: 20px;

      &__Input {
        border: none;
        border-radius: 80px;
        display: block;
        width: 95%;
        box-sizing: border-box;
        margin: 0;
        padding: 10px 20px;
      }

      &__Results {
        background-color: $white;
        border-radius: 6px;
        box-shadow: 0 1px 3px 1px rgba(60, 64, 67, 0.2),
          0 2px 8px 4px rgba(60, 64, 67, 0.1);
        margin: 5px 0 0 0;
        max-height: 200px;
        overflow: hidden;
        padding: 10px 10px 10px 20px;
        position: absolute;
        width: 250px;

        &__List {
          max-height: 200px;
          list-style: none;
          margin: 0;
          overflow: hidden;
          overflow-y: scroll;
          padding: 0;

          &__Item {
            padding: 5px 0;
          }
        }
      }
    }

    &__QuickLinks {
      display: flex;
      flex-direction: column;

      &__Title {
        color: $white;
        font-weight: 700;
        margin: 0 0 10px 0;
      }

      &__List {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        &__Item {
          margin: 0 10px 0 0;

          .Button {
            color: $white;
          }
        }
      }
    }
    // &--competitions {
    //   background-color: $deep_saffron;
    // }

    // &__List {
    //   list-style: none;
    //   margin: 0;
    //   overflow-y: scroll;
    //   padding: 0;

    //   &__Item {
    //     .Button {
    //       background-color: transparent;
    //       border: none;
    //       color: $white;
    //       cursor: pointer;
    //       padding: 5px 8px;
    //       text-align: left;
    //       transition: all 0.3s ease;
    //       width: 100%;

    //       &:hover {
    //         background-color: rgba($black, 0.05);
    //       }
    //     }
    //   }
  }
}
