.MainNav {
  background-color: $white;
  border-bottom: rgba($black, 0.1) 1px solid;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 15px 0;

  &__Container {
    align-items: center;
    display: flex;
    margin: 0 auto;
    max-width: 960px;

    @media screen and (max-width: $tablet) {
      flex-direction: column;
      width: 90%;
    }

    &__Form {
      margin-right: 20px;
      width: 550px;

      @media screen and (max-width: $tablet) {
        margin: 0;
        width: 90%;
      }

      &__Input {
        background-color: rgba($black, 0.1);
        border: none;
        border-radius: 80px;
        display: block;
        width: 95%;
        box-sizing: border-box;
        margin: 0;
        padding: 10px 20px;

        @media screen and (max-width: $tablet) {
          width: 100%;
        }
      }

      &__Results {
        background-color: $white;
        border-radius: 6px;
        box-shadow: 0 1px 3px 1px rgba(60, 64, 67, 0.2),
          0 2px 8px 4px rgba(60, 64, 67, 0.1);
        margin: 5px 0 0 0;
        max-height: 200px;
        overflow: hidden;
        padding: 10px 10px 10px 20px;
        position: absolute;
        width: 250px;

        &__List {
          max-height: 200px;
          list-style: none;
          margin: 0;
          overflow: hidden;
          overflow-y: scroll;
          padding: 0;

          &__Item {
            padding: 5px 0;
          }
        }
      }
    }

    &__QuickLinks {
      display: flex;
      flex-direction: column;

      &__Title {
        color: rgba($black, 0.7);
        font-size: 11px;
        font-weight: 300;
        margin: 0 0 5px 0;
        text-transform: uppercase;

        @media screen and (max-width: $tablet) {
          display: none;
        }
      }

      &__List {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        @media screen and (max-width: $tablet) {
          font-size: 11px;
          margin-top: 10px;
        }

        &__Item {
          margin: 0 20px 0 0;

          &:last-of-type {
            margin-right: 0;
          }

          .Button {
            color: $primary;
          }
        }
      }
    }
  }
}
