.Matches {
  background-color: $white;
  border-radius: 3px;
  border-top: $primary 5px solid;
  box-shadow: 0 1px 1px 0 rgba(60, 64, 67, 0.08),
    0 1px 3px 1px rgba(60, 64, 67, 0.16);
  margin: 0 0 0 20px;
  padding: 3px 20px 12px;
  width: 430px;

  &__Title {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__Round {
    &__Title {
      border-bottom: rgba($black, 0.2) 1px solid;
      border-top: rgba($black, 0.1) 1px solid;
      font-size: 12px;
      font-weight: 700;
      padding: 12px 0;
      text-align: center;
      text-transform: uppercase;
    }

    &__List {
      margin: 0;
      padding: 0;

      &__Item {
        border-bottom: rgba($black, 0.1) 1px solid;
        display: flex;
        flex-direction: column;
        padding: 0 20px;

        &__Date {
          font-size: 11px;
          font-weight: 700;
          text-align: center;
        }

        &__Match {
          display: flex;
          justify-content: space-around;

          &__Home,
          &__Away {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 45%;

            &__Score {
              font-size: 30px;
              font-weight: 700;
            }
          }

          &__Home {
            text-align: left;
          }

          &__Versus {
            text-align: center;
            width: 10%;
          }

          &__Away {
            text-align: right;
          }
        }
      }
    }
  }

  .slick-next:before,
  .slick-prev:before {
    color: $primary;
  }

  .slick-arrow {
    top: 32px;
  }
  .slick-prev {
    left: 10px;
  }
  .slick-next {
    right: 10px;
  }
}
