.Matches {
  background-color: $white;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(60, 64, 67, 0.08),
    0 1px 3px 1px rgba(60, 64, 67, 0.16);
  margin: 0 0 0 20px;
  padding: 16px 20px 12px;
  width: 30%;
}
