.Standings {
  background-color: $white;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(60, 64, 67, 0.08),
    0 1px 3px 1px rgba(60, 64, 67, 0.16);
  flex: 1;

  &__Table {
    border-collapse: collapse;
    font-size: 14px;
    width: 100%;

    thead {
      tr {
        th {
          background-color: rgba($black, 0.05);
          border-bottom: 1px solid rgba($black, 0.2);
          border-top: 1px solid rgba($black, 0.1);
          color: rgba($black, 0.5);
          font-size: 10px;
          font-weight: 300;
          padding: 10px 0;
          text-align: center;
          text-transform: uppercase;
        }
      }
    }

    tbody {
      tr {
        td {
          border-bottom: 1px solid rgba($black, 0.2);
          font-size: 12px;
          padding: 20px 10px;

          &:first-of-type {
            text-align: left;
          }
        }
      }
    }
  }
}
