.Standings {
  background-color: $white;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(60, 64, 67, 0.08),
    0 1px 3px 1px rgba(60, 64, 67, 0.16);
  flex: 1;
  padding: 16px 20px 12px;

  &__Table {
    border-collapse: collapse;
    font-size: 14px;
    width: 100%;

    thead {
      tr {
        th {
          border-bottom: 1px solid rgba($black, 0.2);
          border-top: 1px solid rgba($black, 0.1);
          font-size: 12px;
          font-weight: 300;
          padding: 5px;
          text-align: center;
          text-transform: uppercase;
        }
      }
    }

    tbody {
      tr {
        height: 55px;

        td {
          border-bottom: 1px solid rgba($black, 0.2);
          line-height: 14px;
          padding: 0 15px;
          text-align: center;

          &:first-of-type {
            text-align: left;
          }
        }
      }
    }
  }
}
