@import 'fonts';
@import 'colors';
@import 'normalize';

* {
  outline: none;
}

body {
  background-color: rgba($black, 0.04);
  color: rgba($black, 0.8);
  font-family: $Arvo;
  font-size: 14px;
  font-weight: 400;
}

.slick-next:before,
.slick-prev:before {
  color: $black;
}

@import 'app';
@import 'header';
@import 'mainnav';
@import 'competitions';
@import 'maincontent';
@import 'standings';
@import 'matches';
@import 'button';
