@import 'fonts';
@import 'colors';
@import 'normalize';

body {
  background-color: rgba($black, 0.04);
  font-family: $Arvo;
  font-size: 14px;
  font-weight: 400;
}

@import 'app';
@import 'header';
@import 'mainnav';
@import 'competitions';
@import 'maincontent';
@import 'standings';
@import 'matches';
@import 'button';
