@import 'fonts';
@import 'colors';
@import 'normalize';

// Media Queries
$desktop: 1024px;
$tablet: 720px;

* {
  outline: none;
}

body {
  background-color: rgba($black, 0.04);
  color: rgba($black, 0.8);
  font-family: $Arvo;
  font-size: 14px;
  font-weight: 400;
}

@import 'app';
@import 'header';
@import 'mainnav';
@import 'competitions';
@import 'maincontent';
@import 'standings';
@import 'matches';
@import 'button';
@import 'loader';
@import 'empty';
@import 'modal';
@import 'modalcontent';
